@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {border:0;font-family:inherit;font-size:100%;font-style:inherit;font-weight:inherit;margin:0;outline:0;padding:0;vertical-align:baseline;}*,*:before,*:after {-webkit-box-sizing:inherit;-moz-box-sizing:inherit;box-sizing:inherit;}html{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}body{background:#ffffff;}article,aside,details,div,figcaption,figure,footer,header,main,nav,section {display:block;box-sizing:border-box;}ol,ul {list-style:none;}table {border-collapse:separate;border-spacing:0;}caption,th,td {font-weight:normal;text-align:left;}blockquote:before,blockquote:after,q:before,q:after {content:"";}blockquote,q {-webkit-hyphens:none;-moz-hyphens:none;-ms-hyphens:none;hyphens:none;quotes:none;}a {color:#000000;}a img {border:0;}
html{height:100%}
body{
font:normal 16px/18px 'Roboto', sans-serif;
height:100%;
color:#fff;
}
a, a:hover{text-decoration:none;color:#fff}
p{margin-bottom:10px;}
img{max-width:100%;height:auto;}
iframe{max-width:100%;}
input,textarea{outline: none;}

.burger{display:none}
.selector-for-some-widget {
  box-sizing: content-box;
}
ul li{
    list-style-type: none;
}
header{
    position: absolute;
    top: 0;
    width: 100%;
}
.main_wrapper{
    position: relative;
    top:0;
    background-color: #0F204F;
}
.header_info{
    position: relative;
    margin-top: -20px;
    background: linear-gradient(135deg, rgba(0,6,34,1) 0%,rgba(0,40,94,1) 60%,rgba(0,9,40,1) 100%);
    background-image: url(../img/header_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
}
.header_info .row{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    height: 100%;
}
.header_info_wrap{
    align-items:center;
    color: #fff;
    display:flex;
}
.top_header{
    background: linear-gradient(to bottom, rgba(176,185,229,1) 0%,rgba(202,206,233,1) 61%,rgba(169,175,202,1) 100%);
    height:82px;
    position: absolute;
    z-index: 9999;
    margin: 0 auto;
    width: 100%;
    top: 20px;
    margin-top:20px;
}
.top_header .row{
    width:1200px;
    max-width:100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display:flex;
    justify-content:space-between;
    align-items:center;
    height: 82px;
}
.menu_link{
    color:#0F204F;
    font-size:14px;
    text-transform: uppercase;
}
.top_menu{
    position: initial;
}
.top_menu>ul{
    display:block;
    width: 650px;
}
.top_menu>ul>li{
    display:inline-block;
    padding: 0;
    vertical-align: top;
}
.top_menu>ul>li>a{
    display:block;
    width:100%;
    padding:0 10px;
    height:100%;
    color:#0F204F;
}
.top_menu .sub-sub_menu{
    
}
.sub_menu.full_width{
    position: absolute;
    top: 100%;
    left:0;
    width:100%;
    max-width:100%;
    background: #0F204F url(../img/vector.svg) no-repeat;
    background-size: contain;
    z-index: -1;
    visibility: hidden;
    transition: 0.3s;
    line-height: 100%;
    padding:15px;
    padding: 25px 15px;
    display:flex;
    opacity: 0;
}
.sub_menu.full_width.show{
    z-index: 999;
    visibility: visible;
    opacity: 1;
}
.logo_block{
    float: left;
    width: 227px;
}
.top_menu{
    float: left;
    width:60%;
    margin-top: 8px;
}
.top_header .search_block{
    float: right;
    width: 40px;
    position: initial;
}
.menu_link{
    color:#fff;
}
.sub_title{
    color:#fff;
    text-align: center;
    display: block;
    font-weight: 600;
    margin-bottom: 25px;
}
.menu_ico{
    width:40px;
    margin-right:10px;
    display:inline-block;
    vertical-align: middle;
    height: 40px;
    background: url(../img/menu_ico.png) no-repeat center;
    background-position: 0px 0px;
    min-width: 40px;
}
.menu_ico__2{background-position: -40px 0px}
.menu_ico__3{background-position: -80px 0px}
.menu_ico__4{background-position: -120px 0px}
.menu_ico__5{background-position: -160px 0px}
.menu_ico__6{background-position: -200px 0px}
.menu_ico__7{background-position: -240px 0px}
.menu_ico__8{background-position: -280px 0px}
.menu_ico__9{background-position: 0px -40px}
.menu_ico__10{background-position: -40px -40px}
.menu_ico__11{background-position: -80px -40px}
.menu_ico__12{background-position: -120px -40px}
.menu_ico__13{background-position: -160px -40px}
.menu_ico__14{background-position: -200px -40px}
.menu_ico__15{background-position: -240px -40px}
.menu_ico__16{background-position: -280px -40px}
.sub-sub_menu_link{
    color:#fff;
    display:inline-block;
    vertical-align: middle;
}
.sub_menu_li{
    width:49%
}
.sub-sub_menu_li{
    display:flex;
    align-items:center;
    margin-bottom: 20px;
}
.menu_link.show{
    text-decoration: underline;
}
.search_block_link{
    background: url(../img/search.svg) no-repeat;
    width:18px;
    height:45px;
    display:block;
    cursor: pointer; 
    background-size: 14px 14px;
    position: relative;
    top: 18px;
}
.search_block form{
    width: 100%;
    max-width: 100%;
    display: block;
    position: absolute;
    right: 0;
    padding: 10px;
    background: #002D66;
    margin-top: 0px;
    z-index: -1;
    visibility: hidden;
}
.search_wrap  form.show{
    z-index: 99;
    margin-top:19px;
    visibility: visible;
}
#s{
    display:inline-block;
    vertical-align: middle;
    width: calc(100% - 80px);
}
.search_block input[type=submit]{
    display:inline-block;
    vertical-align: middle;
}

.header_info_title{
    font-size: 32px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 25px;
    line-height: 33px;
}
.header_info_desc{
    font-size:16px;
    line-height: 28px;
}
.header_info_link{
    display:block;
    width:300px;
    max-width: 100%;
    margin: 25px 0;
    text-align: center;
    text-transform: uppercase;
    font-size:14px;
    height:60px;
    line-height:60px;
    font-weight: bold;
    color:#0F204F;
    background: #fff;
    cursor: pointer;
    transition: 0.3s;
}
.header_info_link:hover{
    box-shadow: 0 0 15px lightblue;
}

.main_content{
    background-color: #0F204F;
}
.main_content > div{
    width:1200px;
    max-width:100%;
    margin:0 auto;
    align-items: center;
    position: relative;
    z-index: 3;
    padding-top: 60px;
}
.before_block{
    font-size:14px;
    text-transform: uppercase;
}
.short_text{
    font-size: 24px;
    line-height:30px;
    margin-bottom:15px;
}
.short_link{
    font-size:14px;
    text-transform: uppercase;
    position: relative;
    background: #0F204F;
    margin-left: 40px;
}
.short_link:before{
    content:'';
    display:block;
    width:75px;
    height:1px;
    background: #fff;
    position: absolute;
    left: -90px;
    top: 10px;
}
.about_us{
    padding:50px 0 80px;
}
.about_us > .col-xl-12{
    padding-left:150px;
    margin-bottom:80px;
}
.title{
    font-size:24px;
    line-height:28px;
    padding-bottom: 35px;
    position: relative;
    text-transform: uppercase;
    margin-bottom: 35px;
}
.title:after{
    content:'';
    position: absolute;
    bottom:0;
    left:0;
    width:120px;
    height:1px;
    background: #fff;
}
.block_ul .block_li{
    display:inline-block;
    vertical-align: middle;
    margin-bottom:25px;
}
.block_ul .block_li:before{
    content:'';
    display:inline-block;
    vertical-align: middle;
    width:22px;
    height:25px;
    background: url(../img/ul-li.svg) no-repeat center;
    margin-right:25px;
    background-size: cover;
}

.servise .title{
    padding-left:100px;
}
.servise .title:after{
    margin-left:100px;
}
.stickers{
    position: relative;
    justify-content: center;
}
.stickers .wrap_sticker{
    background: linear-gradient(to right, rgba(14,34,82,1) 0%,rgba(5, 54, 110) 100%);
    padding:0px 15px 25px;
    min-height:180px;
    display:flex;
    align-items: center;
    position: relative;
}
.stickers > div{
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom:5px; 
    max-height: 190px;
    flex: 0 0 24%;
    max-width: 24%;
}
.sticker_img {
    width:60px;
    height:60px;
    display:inline-block;
    margin-right:15px;
    vertical-align: middle;
    background: url(../img/servis-icon.png) no-repeat;
    background-position: -5px -5px;
}
.sticker_link{
    position: absolute;
    width:120px;
    height:1px;
    background: #fff;
    bottom:35px;
}
.sticker_img__2{background-position: -75px -5px;}
.sticker_img__3{background-position: -145px -5px;}
.sticker_img__4{background-position: -215px -5px;}
.sticker_img__5{background-position: -285px -5px;}
.sticker_img__6{background-position: -355px -5px;}
.sticker_img__7{background-position: -425px -5px;}
.sticker_img__8{background-position: -495px -5px;}
.sticker_img__9{background-position: -5px -75px;}
.sticker_img__10{background-position: -75px -75px;}
.sticker_img__11{background-position: -145px -75px;}
.sticker_img__12{background-position: -215px -75px;}
.sticker_img__13{background-position: -285px -75px;}
.sticker_img__14{background-position: -355px -75px;}
.sticker_img__15{background-position: -425px -75px;}
.sticker_img__16{background-position: -495px -75px;}
.sticker_title{
    width:calc(100% - 80px);
    display: inline-block;
    vertical-align: middle;
    font-size:11px;
    text-transform: uppercase;
}
.stickers:before{
    content:'';
    width: 130px;
    height: 115px;
    display: block;
    background: url(../img/red-dotted.svg);
    position: absolute;
    right: -30px;
    top: -25px;
}
.stickers:after{
    content:'';
    width: 130px;
    height: 115px;
    display: block;
    background: url(../img/red-dotted.svg);
    position: absolute;
    bottom: -20px;
    left:-30px;
}
.stickers > div{
    position: relative;
    z-index: 1;
}

.main_content > .why_ure_we{
    background: linear-gradient(to right, rgba(196,44,41,1) 0%,rgba(24,33,76,1) 100%);
    padding:40px 15px;
    width:100%;
    position: relative;
}
.why_ure_we:after{
    content:'';
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
    background: url(../img/vector.svg) no-repeat right bottom;
}
.why_ure_we .before_block,
.why_ure_we .title{
    padding-left:100px;
}
.why_ure_we .title{
    margin-bottom:0;
    padding-bottom: 0;
}
.why_ure_we .title:after{
    display:none
}
.big_ul li{
    position: relative;
    padding-left:85px;
    line-height:30px;
    font-size:18px;
    margin-bottom:40px;
    margin-top:40px;
    display: flex;
    align-items: center;
}
.big_ul li:before{
    content:'';
    display:inline-block;
    width:52px;
    height:60px;
    background: url(../img/ul-li.svg);
    background-size: cover;
    margin-right:20px;
    position: absolute;
    left:0;
    top:50%;
    margin-top:-30px;
}
.title_count{
    font-size:160px;
    font-weight: 700;
    transform: scalex(0.85);
    color:#fff;
    opacity: 0.5;
    display:inline-block;
    margin-right:5px;
    margin-left: -15px;
}

.privilege_title{
    display:block;
    width:100%;
    margin-bottom: 35px;
    font-size:24px;
}
.privilege_ol{
    margin-top:100px;
    justify-content:space-around;
    max-width: 100%;
}
.count_3{
    order:2;
}
.count_2{
    order:3;
}
.privilege_ol li > *{
    width:340px;
    max-width:100%;
    display:block;
    margin: 0 auto 35px;
}
.privilege_desc{
    font-size:18px;
    line-height:28px;
    margin-bottom:50px;
    display: block;
    font-weight: lighter;
    opacity: 0.8;
}
.privilege{
    background: url(../img/privilege.svg) no-repeat center bottom;
    background-size: contain;
    padding-bottom: 380px;
    margin-bottom:50px;
    padding-top: 40px;
}

.partners{
    margin-bottom:50px;
    padding-bottom: 65px;
}
.partners .title{
    margin-right:100px;
}
.partners_ul li{
    display:flex;
    flex-direction: column;
    align-items:center;
    text-align: center;
    max-width: 19%;
    flex: 0 0 19%;
}
.partners_ul li:nth-of-type(4),
.partners_ul li:nth-of-type(5),
.partners_ul li:nth-of-type(6){
    max-width: 14%;
    flex: 0 0 15%;
}
.partner_link{
    margin-top:auto;
}
img[alt="firm logo"]{
    margin:auto;
    margin-bottom:25px;
}

.title_center{
    font-size: 24px;
    line-height: 28px;
    padding-bottom: 35px;
    position: relative;
    text-transform: uppercase;
    margin-bottom: 15px;
    text-align: center;
}
.main_content >.call_back{
    width:100%;
    background:#0F1639 url(../img/form-bg.svg) no-repeat center;
    background-size: cover;
    padding:65px 0 110px;
}
.call_back_form{
    width:650px;
    max-width:100%;
    margin:0 auto;
    display:block;
    position: relative;
    z-index: 9;
}
.call_back_form input:focus,
.call_back_form input:hover,
.call_back_form input{
    border:0;
    background: transparent;
    border-bottom:2px solid #fff;
    font-size:14px;
    outline: none;
    color:#fff;
}
.call_back_form input[type=text]{
    margin-bottom:50px
}
.agreement{
    position: relative;
    width:550px;
    max-width:100%;
    margin:0 auto;
    display:block;
}
.agreement input{
    position: absolute;
    top:50%;
    left:0;
    display:block;
    margin-top: -8px;
}
.agreement_btn{
    width:300px;
    max-width:100%;
    margin:15px auto 0;
    background: #fff;
    color:#0F204F;
    font-size:18px;
    text-transform: uppercase;
    text-align: center;
    height:60px;
    line-height:60px;
    border: 0;
    cursor: pointer;
    display: block;
    transition: 0.3s;
    border: 1px solid #fff;
}
.agreement_btn:hover{
    border-color:#12214B;
    box-shadow: 0 0 35px rgba(255,255,255,.5);
}
.agreement span{
    margin-left:25px;
    font-size:12px;
    display:block;
    width:calc(100% - 30px);
}
.agreement a{
    font-weight:700;
}
.agreement a:hover{
    text-decoration: underline;
}

footer{
    background: url(../img/footer-bg.svg) no-repeat center;
    background-size: cover;
    margin: -80px auto 0;
    padding:50px 15px 30px;
    z-index: 111;
    position: relative;
    top: 25px;
    max-width:100%;
    box-sizing: border-box;
}
.footer_info{
    max-width:100%;
    margin-bottom: 25px;
}
.footer_info > div{
    padding: 0 25px;
}
.footer_info > div:nth-of-type(3),
.footer_info > div:nth-of-type(4){
    padding:0 10px;
}
.footer_title{
    font-size:24px;
    font-weight: bold;
    margin-bottom:25px;
}
.footer_p{
    line-height:26px;
    font-size:18px;
    font-weight: lighter;
    display:block;
    opacity: 0.8;
}
.footer_agreement{
    font-size:12px;
    text-transform: uppercase;
    padding: 3px 5px;
    border: 1px solid rgba(255,255,255,.2);
    transition: 0.3s;
    margin-bottom: 30px;
    display: inline-block;
}
.footer_agreement:hover{
    border: 1px solid rgba(255,255,255,.7);
}
.copy{
    font-size:14px;
    display: flex;
    align-items: center;
}
.footer_bottom a{
    font-size:12px;
    text-transform: uppercase;
    border-bottom:1px dotted transparent;
    transition: 0.3s;
}
.footer_bottom a:hover{
    border-bottom:1px dotted #fff
}
.footer_menu_ul{
    display:flex;
    justify-content:space-between;
}
.servise{
    padding-bottom:80px;
    padding-left:15px;
    padding-right:15px;
}
.main_content{
    position: relative;
    padding-top: 55px;
}
.main_content:after {
    content: '';
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../img/vector.svg) repeat-y right bottom;
}
.call_back:before{
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../img/vector.svg) repeat-y right bottom;
}
.modal_form{
    position: fixed;
    top:150%;
    left:50%;
    transform: translate(-50%, -50%);
    background: #0F204F;
    z-index:-1;
    box-shadow: 0 0 25px #000;
    padding:15px 25px;
    max-width:98%;
    width:650px;
    transition: 0.3s;
    visibility: hidden;
}
.modal_form.show{
    top:50%;
    visibility: visible;
    z-index:9999;
}
.modal_close{
    display:block;
    position: absolute;
    top:15px;
    right:15px;
    font-weight: normal;
    font-size:45px;
    color:#fff;
    cursor: pointer;
    transition:0.3s;
}
.modal_close:hover{
    text-shadow: 0 0 15px #000;
}
.modal_form_overflow{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: 999;
    backdrop-filter: blur(5px);
    display:none;
}
.modal_form_overflow.show{
    display:block;
}
.main_content > .partners{padding-left:15px;padding-right:15px;}
@media (max-height:570px){
    .modal_form .call_back_form input{margin-bottom:5px}
}
@media (max-width:1320px){
    .stickers:after,
    .stickers:before{display:none}
}
@media (max-width:1060px){
    .partners_ul li:nth-of-type(4), .partners_ul li:nth-of-type(5), .partners_ul li:nth-of-type(6){
        padding-left:5px;
        padding-right: 5px;
    }
    .partners .partners_ul{
        max-width:100%;
        margin:0 auto;
    }
}
@media (max-width:980px){
    .block_img{
        position: absolute;
        top: 200px;
        opacity: 0.4;
        transform: scale(.8);
        z-index:-1;
    }
    .big_ul li:before{
        width:34px;
        height:38px;
    }
    .big_ul li {
        position: relative;
        padding-left: 45px;
        line-height: 20px;
        font-size: 18px;
        margin-bottom: 40px;
        margin-top: 10px;
        display: flex;
        align-items: center;
    }
    .why_ure_we .title{
        margin-bottom:35px;
    }
    .block_ul{
        display: flex;
        flex-direction: column;
    }
    .header_info{
    padding-bottom: 145px;
    padding-top: 265px;
        height:auto;
        background-position: right center;
    padding-left: 15px;
    padding-right: 15px;
    }
    .burger{
        display:block;
        width:40px;
        height:auto;
        display:flex;
        flex-direction: column;
        align-items:center;
        cursor: pointer;
        float: right;
    }
    .burger span{
        height:3px;
        margin:3px 0;
        width:100%;
        display:block;
        background: #0F204F;
        border-radius: 1px;
    }
    .stickers > div{max-width:30%}
    .top_menu>ul {
        display: flex;
        width: 330px;
        right: 0;
        position: absolute;
        top: 100%;
        flex-direction: column;
        background: #0F204F url(../img/vector.svg) no-repeat;
        background-size: contain;
        padding: 7px 15px;
        box-shadow: -5px 5px 15px #000;
        z-index: -1;
        opacity: 0;
        visibility: hidden;
    }
    .top_header .top_menu{width:80px}
    .top_menu>ul.show{
        z-index: 1;
        opacity: 1;
        visibility: visible;
        overflow: hidden;
    }
    .top_menu>ul{overflow: hidden;}
    .top_menu>ul>li>a{color:#fff;display: block;padding:5px 0;}
    .search_block{display:none}
    .header_info_link{margin:25px auto;}
    .header_info_wrap{
        flex: 0 0 100%;
        max-width: 100%;
        text-align: center;
    }
    .partners_ul{padding-left:15px;padding-right:15px;}
    .partners_ul li,
    .partners_ul li:nth-of-type(4), .partners_ul li:nth-of-type(5), .partners_ul li:nth-of-type(6){
    max-width: 31%;
    flex: 0 0 31%;
    margin-bottom:25px;
    }
    .agreement span{width:calc(100% - 130px)}
    .footer_p{
    margin-bottom: 25px;}
    .footer_bottom > div{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .count_3{order:3}
    .count_2{order:2}
    .privilege_ol li{margin-bottom:40px}
    .privilege{padding-bottom:55px;background: none;padding-left:15px;padding-right:15px}
    
    .privilege{position: relative;}
    .privilege:after{
        content:'';
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;   
        background: url(../img/privilege.svg) no-repeat center;
        background-size: contain;
        opacity: 0.2;
        filter: grayscale(1);
    }
    .footer_agreement{
    display: block;
    width: 250px;
    text-align: center;
    margin: 0 auto 30px;
    }
    .footer_info{
    text-align: center;}
    .copy{margin-bottom:25px}
    .servise .title,.why_ure_we .before_block, .why_ure_we .title{padding-left:15px}
    .stickers > div{
        flex: 0 0 33%;
        max-width: 33%;
        max-height: 220px;
        text-align: center;
    }
    .sticker_img{margin-bottom:15px}
    .stickers .wrap_sticker{min-height: 210px;}
}
@media (max-width:860px){
    .stickers > div{max-width:48%;width:48%;flex:0 0 48%;}
    .about_us > .col-xl-12{padding-left:15px}
    .stickers .wrap_sticker{flex-direction:column;padding-top:25px}
    .sticker_title{width:100%}
}
@media (max-width:780px){
    .big_ul li:before{margin-top:-20px;}
}
@media (max-width:600px){
    .header_info_title {font-size:18px}
    .header_info{
        background-image: url(../img/header_m_bg.jpg);
        background-size: cover;
    padding-bottom: 165px;
    padding-top: 205px;
    }
    .partner_link{font-size:12px;}
     .partners_ul li:nth-of-type(4) img, .partners_ul li:nth-of-type(5) img, .partners_ul li:nth-of-type(6) img{
        transform: scale(0.6);
     }
    .stickers > div{
        flex: 0 0 49%;
        max-width: 49%;
    }
    .footer_menu_ul{display:none}
    .copy{text-align:center;display:block;}
}
@media (max-width:480px){
    .stickers > div{max-width:98%;width:98%;flex:0 0 98%;}
    .partners_ul li,
    .partners_ul li:nth-of-type(4), .partners_ul li:nth-of-type(5), .partners_ul li:nth-of-type(6){
    max-width: 49%;
    flex: 0 0 49%;
    margin-bottom:25px;
    }
    .header_info{
    background-size: contain;}
}
div{float:none !important}